<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GenericArrayListQueueDsTest">
    <test thread-count="5" name="AIProject">
        <classes>
            <class name="com.ai.ds.GenericArrayListQueueDsTest"/>
        </classes>
    </test>
</suite>
